<!DOCTYPE html>
<html>
	<head>
		<title>Legekontor</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
<script>
		function showstuff(boxid, i) {
			var s = document.getElementById(boxid);
			if(s.style.display == 'none' && i == 0) {
				s.style.display = "block";
				return false;
			} else {
				s.style.display = "none";
				return false;
			}
			

		}
		
	
	</script>
	<body>
		<div id="wrapper">
			<header></header>
			<nav>
				<a href="javascript:void(0)" onclick="showstuff('show', 0);"> Home</a>
			</nav>
			<div  id="show" class="hidden">
				<% if Kirurgi.find(:all).count > 0 %>
				<table id="menu">
					
					
					<tr>
						<% Kirurgi.find(:all, :order => 'name ASC').each do |k| %>
						<th><%= k.name %></th>
					</tr>
					
					<tr>
						<% k.types.each do |t|%>
						<td><%= link_to t.content, t %></td>
						<td>555 77 854</td>
						<td>555 77 855</td>
					</tr>
					<%end%>
					<% end %>
				
				</table>
				<% end %>
			</div>
			<section onclick="showstuff('show', 1);">
				<%= yield %>
			</section>
			<footer></footer>
		</div><!-- end wrapper -->
	</body>
</html>
